USE [master]
GO
/****** Object:  Database [DB_SIZAKAT]    Script Date: 23/06/2026 03:26:46 ******/
CREATE DATABASE [DB_SIZAKAT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_SIZAKAT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.AZIZAH\MSSQL\DATA\DB_SIZAKAT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_SIZAKAT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.AZIZAH\MSSQL\DATA\DB_SIZAKAT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SIZAKAT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SIZAKAT]
GO
/****** Object:  Table [dbo].[Tabel_Warga]    Script Date: 23/06/2026 03:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabel_Warga](
	[NIK] [varchar](16) NOT NULL,
	[nama] [varchar](100) NOT NULL,
	[alamat] [text] NULL,
	[password] [varchar](50) NULL,
	[peran] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabel_Donasi]    Script Date: 23/06/2026 03:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabel_Donasi](
	[ID_Donasi] [int] IDENTITY(1,1) NOT NULL,
	[NIK_Warga] [char](16) NULL,
	[kategori] [varchar](50) NULL,
	[jumlah] [int] NULL,
	[tanggal] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Donasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LaporanDonasiZakat]    Script Date: 23/06/2026 03:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_LaporanDonasiZakat] AS
SELECT 
    d.ID_Donasi AS [ID Transaksi],
    w.NIK AS [NIK Warga],
    w.nama AS [Nama Warga],
    d.kategori AS [Kategori Zakat],
    d.jumlah AS [Jumlah Nominal],
    d.tanggal AS [Tanggal Bayar],
    d.status AS [Status Verifikasi]
FROM Tabel_Donasi d
JOIN Tabel_Warga w ON d.NIK_Warga = w.NIK
WHERE d.status = 'Approved'; -- Kita hanya mencetak zakat yang sudah sah/approved
GO
/****** Object:  View [dbo].[vw_DaftarWarga]    Script Date: 23/06/2026 03:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DaftarWarga] AS
SELECT NIK, nama, alamat, peran 
FROM Tabel_Warga;
GO
/****** Object:  Table [dbo].[Tabel_Stok]    Script Date: 23/06/2026 03:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabel_Stok](
	[id_barang] [int] IDENTITY(1,1) NOT NULL,
	[nama_barang] [varchar](50) NOT NULL,
	[jumlah_stok] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_barang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StokSembako]    Script Date: 23/06/2026 03:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_StokSembako] AS
SELECT 
    id_barang AS [ID Barang],
    nama_barang AS [Nama Barang],
    jumlah_stok AS [Stok]
FROM Tabel_Stok;
GO
/****** Object:  Table [dbo].[Tabel_Kategori]    Script Date: 23/06/2026 03:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabel_Kategori](
	[id_kategori] [int] IDENTITY(1,1) NOT NULL,
	[nama_zakat] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabel_Penyaluran]    Script Date: 23/06/2026 03:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabel_Penyaluran](
	[id_salur] [int] IDENTITY(1,1) NOT NULL,
	[NIK] [varchar](16) NULL,
	[id_barang] [int] NULL,
	[jumlah_keluar] [decimal](18, 2) NULL,
	[tgl_salur] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_salur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabel_Donasi] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Tabel_Penyaluran] ADD  DEFAULT (getdate()) FOR [tgl_salur]
GO
ALTER TABLE [dbo].[Tabel_Stok] ADD  DEFAULT ((0)) FOR [jumlah_stok]
GO
ALTER TABLE [dbo].[Tabel_Penyaluran]  WITH CHECK ADD FOREIGN KEY([id_barang])
REFERENCES [dbo].[Tabel_Stok] ([id_barang])
GO
ALTER TABLE [dbo].[Tabel_Penyaluran]  WITH CHECK ADD FOREIGN KEY([NIK])
REFERENCES [dbo].[Tabel_Warga] ([NIK])
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveDonasi]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ApproveDonasi]
    @ID_Donasi INT
AS
BEGIN
    UPDATE Tabel_Donasi
    SET status='Approved'
    WHERE ID_Donasi=@ID_Donasi
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStok]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Stored Procedure untuk HAPUS data sembako
CREATE   PROCEDURE [dbo].[sp_DeleteStok]
    @ID_Barang VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM Tabel_Stok WHERE id_barang = @ID_Barang;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteWarga]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteWarga]
    @NIK CHAR(16)
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM Tabel_Warga WHERE NIK = @NIK;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportWargaExcel]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. SOLUSI UTAMA UCP: Buat Stored Procedure Cerdas untuk Import Data Excel
-- Prosedur ini akan mengecek NIK secara mandiri. Jika NIK belum ada, data dimasukkan.
-- Jika NIK sudah ada, data dilewati dengan aman tanpa membuat C# crash/error!
CREATE   PROCEDURE [dbo].[sp_ImportWargaExcel]
    @NIK CHAR(16),
    @Nama VARCHAR(100),
    @Alamat VARCHAR(200),
    @Peran VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validasi 1: Cek apakah NIK sudah terdaftar di database
    IF EXISTS (SELECT 1 FROM Tabel_Warga WHERE NIK = @NIK)
    BEGIN
        -- Cetak pesan info di message box SSMS (tidak melempar error keras ke C#)
        PRINT 'Data dengan NIK ' + @NIK + ' sudah ada. Dilewati secara aman.';
        RETURN; -- Keluar dari procedure, abaikan insert
    END

    -- Validasi 2: Cek panjang NIK wajib angka dan tepat 16 digit
    IF LEN(@NIK) <> 16 OR @NIK LIKE '%[^0-9]%'
    BEGIN
        PRINT 'Format NIK salah untuk nama ' + @Nama + '. Dilewati.';
        RETURN;
    END

    -- Jika lolos semua pengecekan, baru masukkan ke tabel warga
    INSERT INTO Tabel_Warga (NIK, nama, alamat, peran, password)
    VALUES (@NIK, @Nama, @Alamat, @Peran, 'zakat123');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDonasi]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDonasi]
    @NIK_Warga CHAR(16),
    @Kategori VARCHAR(50),
    @Jumlah INT,
    @Tanggal DATE
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Tabel_Donasi (NIK_Warga, kategori, jumlah, tanggal, status)
    VALUES (@NIK_Warga, @Kategori, @Jumlah, @Tanggal, 'Pending');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertStok]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Stored Procedure untuk SIMPAN data sembako
CREATE   PROCEDURE [dbo].[sp_InsertStok]
    @ID_Barang VARCHAR(20),
    @NamaBarang VARCHAR(100),
    @Stok INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validasi STQA: Mencegah duplikasi ID Barang
    IF EXISTS (SELECT 1 FROM Tabel_Stok WHERE id_barang = @ID_Barang)
    BEGIN
        RAISERROR('Gagal! ID Barang tersebut sudah terdaftar di gudang.', 16, 1);
        RETURN;
    END;

    INSERT INTO Tabel_Stok (id_barang, nama_barang, jumlah_stok)
    VALUES (@ID_Barang, @NamaBarang, @Stok);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertWarga]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertWarga]
    @NIK CHAR(16),
    @Nama VARCHAR(100),
    @Alamat VARCHAR(200),
    @Peran VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Logika QA Tambahan: Validasi duplikasi NIK sebelum simpan
    IF EXISTS (SELECT 1 FROM Tabel_Warga WHERE NIK = @NIK)
    BEGIN
        RAISERROR('Gagal Simpan! NIK tersebut sudah terdaftar di database desa.', 16, 1);
        RETURN;
    END
    
    INSERT INTO Tabel_Warga (NIK, nama, alamat, peran, password)
    VALUES (@NIK, @Nama, @Alamat, @Peran, 'zakat123'); -- password default awal
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Login]
    @Username VARCHAR(100),
    @Password VARCHAR(100)
AS
BEGIN
    SELECT peran
    FROM Tabel_Warga
    WHERE nama = @Username
    AND password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RiwayatDonasi]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RiwayatDonasi]
    @NIK CHAR(16)
AS
BEGIN
    SELECT *
    FROM Tabel_Donasi
    WHERE NIK_Warga = @NIK
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SalurkanBantuan]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SalurkanBantuan]
    @NIK_Mustahik CHAR(16),
    @Tanggal DATE,
    @NamaBarang VARCHAR(100),
    @JumlahKeluar INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StokSaatIni INT;
    DECLARE @IDBarang INT;

    -- 1. Ambil ID barang & stok saat ini dari Tabel_Stok berdasarkan nama barang
    SELECT @IDBarang = id_barang, @StokSaatIni = jumlah_stok
    FROM Tabel_Stok
    WHERE nama_barang = @NamaBarang;

    -- Aturan STQA 1: Cek apakah barangnya terdaftar di gudang
    IF @IDBarang IS NULL
    BEGIN
        RAISERROR('Gagal! Barang tidak ditemukan di data stok gudang.', 16, 1)
        RETURN
    END

    -- Aturan STQA 2: Cek kecukupan stok sebelum disalurkan
    IF @StokSaatIni < @JumlahKeluar
    BEGIN
        RAISERROR('Transaksi Ditolak! Stok di gudang tidak mencukupi untuk penyaluran ini.', 16, 1)
        RETURN
    END

    -- TEMBAK KE TABEL ASLI: Tabel_Penyaluran, kolom sesuai struktur asli
    INSERT INTO Tabel_Penyaluran (NIK, id_barang, jumlah_keluar, tgl_salur)
    VALUES (@NIK_Mustahik, @IDBarang, @JumlahKeluar, @Tanggal);

    -- Potong stok barang secara otomatis di Tabel_Stok
    UPDATE Tabel_Stok
    SET jumlah_stok = jumlah_stok - @JumlahKeluar
    WHERE nama_barang = @NamaBarang;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchWarga]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchWarga]
    @Keyword VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT NIK, nama, alamat, peran 
    FROM Tabel_Warga 
    WHERE nama LIKE '%' + @Keyword + '%' OR NIK LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStatusDonasi]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateStatusDonasi]
    @ID_Donasi VARCHAR(20),
    @Status VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Tabel_Donasi SET status = @Status WHERE ID_Donasi = @ID_Donasi;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStok]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Stored Procedure untuk UPDATE data sembako
CREATE   PROCEDURE [dbo].[sp_UpdateStok]
    @ID_Barang VARCHAR(20),
    @NamaBarang VARCHAR(100),
    @Stok INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Tabel_Stok 
    SET nama_barang = @NamaBarang, jumlah_stok = @Stok 
    WHERE id_barang = @ID_Barang;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateWarga]    Script Date: 23/06/2026 03:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateWarga]
    @NIK CHAR(16),
    @Nama VARCHAR(100),
    @Alamat VARCHAR(200),
    @Peran VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Logika QA Tambahan: Pastikan data yang mau diubah memang ada
    IF NOT EXISTS (SELECT 1 FROM Tabel_Warga WHERE NIK = @NIK)
    BEGIN
        RAISERROR('Gagal Update! Data warga tidak ditemukan.', 16, 1);
        RETURN;
    END
    
    UPDATE Tabel_Warga 
    SET nama = @Nama, alamat = @Alamat, peran = @Peran 
    WHERE NIK = @NIK;
END;
GO
USE [master]
GO
